@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@200;400;600&display=swap");

body {
  background-color: hsl(212, 45%, 89%);
  padding: 60px;
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;

/*  IF YOU CAN FIGURE OUT HOW THIS WORKS  I WOULD BE OF GRATITUDE */
  /* display: grid;
  grid-template-columns: minmax(10px, auto) [right-side] 1fr [left-side] minmax(
      10px,
      auto
    );
  grid-template-rows: minmax(4.7em, 5.5em) [top-space] 1fr [ bottom-space] minmax(
      1.7em,
      1.5em
    ); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
  border-radius: 3%;
  max-width: 376px;
  background-color: hsl(0, 0%, 100%);
  grid-row: top-space/bottom-space;
  grid-column: right-side/left-side;
  display: grid;
  grid-template-columns: [card-border-s] 20px [ img-border-s ] 1fr [img-border-e] 20px [card-border-e];
  grid-template-rows: [card-border-t] 20px [img-border-s] 1fr [img-border-e p-start-t] 240px [p-end-b] 20px [card-border-b];
}

.card-qr-image {
  grid-column: img-border-s/img-border-e;
  grid-row: img-border-s/img-border-e;
}

.card-qr-image img {
  border-radius: 3%;
  width: 100%;
}

.card-description {
  text-align: center;
  display: block;
  grid-row: p-start-t/p-end-b;
  grid-column: img-border-s/img-border-e;
}

.card-description .card-text-wrapper {
  padding: 10px;

}

.card-description .card-text-wrapper h3 {
  font-family: "Outfit", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

.card-description .card-text-wrapper p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 700;
}
