@media screen and (max-width: 600px) {
  body {
    background-color: red;
    
  }

  .card {
    display: grid;
    grid-template-columns: [card-border-s] 20px [ img-border-s ] 1fr [img-border-e] 20px [card-border-e];
    grid-template-rows: [card-border-t] 20px [img-border-s] 1fr [img-border-e p-start-t] auto [p-end-b] 20px [card-border-b];
  }
  
}
